<div class="container">
  <div class="row">
    <h1>Atualiza Tarefa</h1>
  </div>
  <div class="row">
    <%= form_for @task, url: {action: "update"} do |f| %>
      <div class="form-group">
        <%= f.hidden_field :id %>
        <%= f.hidden_field :user_id %>
        <%= f.text_field :description, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.select :category, ['home', 'work'],{}, {class: 'form-control'} %>
      </div>
      <div class="form-group">
        <%= f.submit "Atualiza Tarefa", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
