<div class="container">

  <div class="row  d-flex justify-content-center mt-2">
      <div class="pomodoro_time">
      </div>
  </div>

  <div class="row msg  d-flex justify-content-center mt-5">

  </div>
  <div class="row d-flex justify-content-center mb-5">
    <%= form_for(Task.new) do |f| %>
      <div class="form-inline">
        <div class="form-group mb-2">
          <%= f.hidden_field :id %>
          <%= f.hidden_field :user_id, value: current_user.id if user_signed_in? %>
          <%= f.hidden_field :status, value: 0 %>
          <%= f.hidden_field :date, value: Time.now %>
        </div>
        <div class="form-group mb-2">
          <label>Tarefa: </label>
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <%= f.text_field :description, class: 'form-control', placeholder: 'Digite aqui a sua tarefa' %>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Criar tarefa</button>
      </div>
    <% end %>
  </div>

  <div class="row d-flex justify-content-center">
    <h2>Tarefas a Fazer</h2>
  </div>
  <div class="row d-flex justify-content-center">
    <table class="table table-sm table-bordered" style="width: 60%">
      <thead>
        <tr class="table-secondary">
          <th>ID</th>
          <th>Tarefa</th>
          <th>Status</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody class="tasks">
        <% @doing_tasks = @tasks.select {|task| task.status == 0} %>
        <% @doing_tasks.each do |task| %>
        <tr>
          <td><%= task.id %></td>
          <td class="tomatos_<%= task.id %>">
            <%= task.description %>
            <%= task.pomodoros[0].status if task.pomodoros[0] != nil %>
            <br>
            <% task.pomodoros.each do |pomodoro| %>
              <span class="tomato <%= pomodoro.status %>"></span>
            <% end %>
          </td>
          <td>
            <% if task.status == 0 %>
              <button class="btn btn-warning" disabled>fazendo</button>
            <% else %>
              feita
            <% end %>
          </td>
          <td>
             <%= form_for(Pomodoro.new, data: 'add-pomodoro') do |f| %>
               <%= f.hidden_field :task_id, value: task.id %>
               <%= f.hidden_field :date, value: Time.now %>
               <%= f.hidden_field :status, value: :canceled %>
               <%= submit_tag("Iniciar", class: "btn btn-primary") %>
             <% end %>
          </td>
          <td>
            <button type="button" class="btn btn-success">concluir tarefa</button>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row d-flex justify-content-center">
    <h2>Tarefas Feitas</h2>
  </div>
  <div class="row d-flex justify-content-center">
    <table class="table table-sm table-bordered" style="width: 60%">
      <thead>
        <tr class="table-secondary">
          <th>ID</th>
          <th>Tarefa</th>
        </tr>
      </thead>
      <tbody>
        <% @done_tasks = @tasks.select {|task| task.status == 1} %>
        <% @done_tasks.each do |task| %>
        <tr>
          <td><%= task.id %></td>
          <td>
            <%= task.description %>
            <%= task.pomodoros[0].status if task.pomodoros[0] != nil %>
            <br>
            <% task.pomodoros.each do |pomodoro| %>
              <span class="tomato <%= pomodoro.status %>"></span>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
